/* background color */

.background-partners {
    background: rgb(239, 70, 35);
    height: 100vh;
    position: relative;
}

.partners-paragraph-desktop {
    display: none;
}

.menu-item-partners a {
    color: #fff;
}

.main-content-partners {
    position: relative;
    margin: 0 auto;
    top: 6rem;
    width: 50rem;
}

.partners-wrapper {
    overflow-y: scroll;
    height: 40.5rem;
}

.partners-wrapper::-webkit-scrollbar {
    width: 0;
}

.partners-logos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.partner-logo {
    display: block;
    width: 25%;
    height: 9rem;
    padding: 1.5rem;
    -o-object-fit: contain;
       object-fit: contain;
}

.futurezona-logo {
    padding: 2.5rem;
}

.we-logo {
    padding: 3rem;
}

.lyft-logo {
    padding: 3rem;
}

.partners-paragraph-desktop, .partners-paragraph-mobile {
    font-family: 'Galaxie Copernicusbook',
    Helvetica,
    sans-serif;
    color: rgb(221, 186, 119);
    text-align: center;
}

.partners-paragraph-mobile {
    display: none;
}

.partner-new-line {
    display: block;
}
/* button */

.believe-button {
    width: 3.7rem;
    margin: 0 auto;
    position: relative;
    top: 2rem;
}

.believe-button a {
    display: block;
}

.believe-button img {
    width: 100%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

/* edge eye image styling */

.edge-eye-logo-partners {
    position: absolute;
    width: 15rem;
    top: -6rem;
    right: 9rem;
}

.edge-eye-logo-partners img {
    display: block;
    width: 100%;
}

.edge-rose-logo-partners {
    position: absolute;
    width: 16rem;
    left: 9rem;
    bottom: -9rem;
}

.edge-rose-logo-partners img {
    display: block;
    width: 100%;
}